 Overview
 
[독립변수](#독립변수) \
[종속변수](#종속변수)

## 독립변수

In [1]:
import pandas as pd
import numpy as np

In [2]:
default_dir = '/home/users/s17011720/predicting_impression_using_mobile_game/'

In [19]:
asset = pd.read_csv(default_dir + "extract_features_data/asset_features2.csv")
activity = pd.read_csv(default_dir + "extract_features_data/activity_features2.csv")
ads = pd.read_csv(default_dir + "extract_features_data/ads_features2.csv")

In [21]:
print('asset shape    : ', asset.shape)
print('activity shape : ', activity.shape)
print('ads shape      : ', ads.shape)

asset shape    :  (416198, 28)
activity shape :  (224136, 9)
ads shape      :  (419923, 44)

In [22]:
print('asset unique id    : ', len(asset['ad_id'].unique()))# 224,870
print('activity unique id : ', len(activity['ad_id'].unique()))# 144,081
print('ads unique id      : ', len(ads['ad_id'].unique()))# 225,082

asset unique id    :  224870
activity unique id :  144081
ads unique id      :  225082

In [15]:
def extract_day01(event_df):
    day0 = event_df[event_df['day_x']==0].drop('day_x', axis=1)
    day1 = event_df[event_df['day_x']==1].drop('day_x', axis=1)
    
    day0 = day0.add_suffix("_0")
    day1 = day1.add_suffix("_1")
    
    day0.rename(columns={'ad_id_0':'ad_id'}, inplace=True)
    day1.rename(columns={'ad_id_1':'ad_id'}, inplace=True)
    
    df = pd.merge(day0, day1, on=['ad_id'], how='outer')
    return df

In [23]:
asset_df = extract_day01(asset)
activity_df = extract_day01(activity)
ads_df = extract_day01(ads)

In [47]:
asset_df.to_csv(default_dir + "extract_features_data/asset_day01.csv", index=False)
activity_df.to_csv(default_dir + "extract_features_data/activity_day01.csv", index=False)
ads_df.to_csv(default_dir + "extract_features_data/ads_day01.csv", index=False)

In [26]:
# m_features = pd.merge(asset_df, activity_df, how='outer', on='ad_id')
# m_features = pd.merge(m_features, ads_df, how='outer', on='ad_id')
# m_features.shape

(224997, 151)

In [27]:
m_features.columns

Index(['ad_id', 'in_coin_cnt_0', 'out_coin_cnt_0', 'in_coin_sum_0',
       'out_coin_sum_0', 'curr_var_min_0', 'curr_var_max_0',
       'buy_skin_var_sum_0', 'offline_coin_var_sum_0', 'play_var_sum_0',
       ...
       'ba_home_rate_1', 'ba_ingame_rate_1', 'ba_result_rate_1',
       'is_death_rate_1', 'is_game_end_rate_1', 'rv_collection_coin_rate_1',
       'rv_color_rate_1', 'rv_result_bonus_coin_rate_1',
       'rv_result_coin_rate_1', 'rv_up_rate_1'],
      dtype='object', length=151)

## 종속변수

In [25]:
ads.head(2)

,ad_id,day_x,ba_imps_off,ba_imps_on,is_imps_off,is_imps_on,is_imps_fail_off,is_imps_fail_on,rv_imps_off,rv_imps_on,...,ba_home_rate,ba_ingame_rate,ba_result_rate,is_death_rate,is_game_end_rate,rv_collection_coin_rate,rv_color_rate,rv_result_bonus_coin_rate,rv_result_coin_rate,rv_up_rate
0,00018501-6eee-45e9-b5b5-7b50f966abd8,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,100.000000,0.0
1,00018501-6eee-45e9-b5b5-7b50f966abd8,8,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,100.0,0.0,36.363636,0.0,63.636364,0.0

In [32]:
ads.columns

Index(['ad_id', 'day_x', 'ba_imps_off', 'ba_imps_on', 'is_imps_off',
       'is_imps_on', 'is_imps_fail_off', 'is_imps_fail_on', 'rv_imps_off',
       'rv_imps_on', 'rv_imps_fail_off', 'rv_imps_fail_on', 'rv_view_off',
       'rv_view_on', 'ba_home', 'ba_ingame', 'ba_result', 'is_death',
       'is_game_end', 'rv_collection_coin', 'rv_color', 'rv_result_bonus_coin',
       'rv_result_coin', 'rv_up_1', 'rv_up_2', 'rv_up_3', 'rv_up_4', 'ba_imps',
       'is_imps', 'is_imps_fail', 'rv_imps', 'rv_imps_fail', 'rv_view',
       'Interval_time', 'ba_home_rate', 'ba_ingame_rate', 'ba_result_rate',
       'is_death_rate', 'is_game_end_rate', 'rv_collection_coin_rate',
       'rv_color_rate', 'rv_result_bonus_coin_rate', 'rv_result_coin_rate',
       'rv_up_rate'],
      dtype='object')

In [33]:
ads_target = ads[['ad_id', 'day_x', 'ba_imps', 'is_imps', 'rv_imps']]

In [34]:
day2 = ads_target[ads_target['day_x']==2].drop('day_x', axis=1)
day3 = ads_target[ads_target['day_x']==3].drop('day_x', axis=1)
day4 = ads_target[ads_target['day_x']==4].drop('day_x', axis=1)
day5 = ads_target[ads_target['day_x']==5].drop('day_x', axis=1)
day6 = ads_target[ads_target['day_x']==6].drop('day_x', axis=1)
day7 = ads_target[ads_target['day_x']==7].drop('day_x', axis=1)

day2 = day2.add_suffix("_2")
day3 = day3.add_suffix("_3")
day4 = day4.add_suffix("_4")
day5 = day5.add_suffix("_5")
day6 = day6.add_suffix("_6")
day7 = day7.add_suffix("_7")

day2.rename(columns={'ad_id_2':'ad_id'}, inplace=True)
day3.rename(columns={'ad_id_3':'ad_id'}, inplace=True)
day4.rename(columns={'ad_id_4':'ad_id'}, inplace=True)
day5.rename(columns={'ad_id_5':'ad_id'}, inplace=True)
day6.rename(columns={'ad_id_6':'ad_id'}, inplace=True)
day7.rename(columns={'ad_id_7':'ad_id'}, inplace=True)

In [35]:
df = pd.merge(day2, day3, on=['ad_id'], how='outer')
df = pd.merge(df, day4, on=['ad_id'], how='outer')
df = pd.merge(df, day5, on=['ad_id'], how='outer')
df = pd.merge(df, day6, on=['ad_id'], how='outer')
df = pd.merge(df, day7, on=['ad_id'], how='outer')

In [36]:
df.shape

(58035, 19)

In [37]:
df.head(2)

,ad_id,ba_imps_2,is_imps_2,rv_imps_2,ba_imps_3,is_imps_3,rv_imps_3,ba_imps_4,is_imps_4,rv_imps_4,ba_imps_5,is_imps_5,rv_imps_5,ba_imps_6,is_imps_6,rv_imps_6,ba_imps_7,is_imps_7,rv_imps_7
0,00038635-61d2-4656-b04b-332c5a6755cd,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
1,0003b43c-1404-4ece-9cb2-3971a24612da,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df.fillna(0, inplace=True)

In [39]:
df.columns

Index(['ad_id', 'ba_imps_2', 'is_imps_2', 'rv_imps_2', 'ba_imps_3',
       'is_imps_3', 'rv_imps_3', 'ba_imps_4', 'is_imps_4', 'rv_imps_4',
       'ba_imps_5', 'is_imps_5', 'rv_imps_5', 'ba_imps_6', 'is_imps_6',
       'rv_imps_6', 'ba_imps_7', 'is_imps_7', 'rv_imps_7'],
      dtype='object')

In [40]:
ba_col = ['ba_imps_2', 'ba_imps_3', 'ba_imps_4', 'ba_imps_5', 'ba_imps_6', 'ba_imps_7']
is_col = ['is_imps_2', 'is_imps_3', 'is_imps_4', 'is_imps_5', 'is_imps_6', 'is_imps_7']
rv_col = ['rv_imps_2', 'rv_imps_3', 'rv_imps_4', 'rv_imps_5', 'rv_imps_6', 'rv_imps_7']

df['ba_imps_234567'] = df[ba_col].sum(axis=1)
df['is_imps_234567'] = df[is_col].sum(axis=1)
df['rv_imps_234567'] = df[rv_col].sum(axis=1)

In [41]:
df.head(2)

,ad_id,ba_imps_2,is_imps_2,rv_imps_2,ba_imps_3,is_imps_3,rv_imps_3,ba_imps_4,is_imps_4,rv_imps_4,...,rv_imps_5,ba_imps_6,is_imps_6,rv_imps_6,ba_imps_7,is_imps_7,rv_imps_7,ba_imps_234567,is_imps_234567,rv_imps_234567
0,00038635-61d2-4656-b04b-332c5a6755cd,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0003b43c-1404-4ece-9cb2-3971a24612da,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [43]:
df[['ba_imps_234567','is_imps_234567','rv_imps_234567']].describe()

       ba_imps_234567  is_imps_234567  rv_imps_234567
count    58035.000000    58035.000000    58035.000000
mean         8.692013        4.148927        0.301680
std         13.344514        7.814888        1.039425
min          0.000000        0.000000        0.000000
25%          1.000000        0.000000        0.000000
50%          4.000000        1.000000        0.000000
75%         11.000000        5.000000        0.000000
max        384.000000      205.000000       58.000000

In [45]:
df.to_csv(default_dir + "extract_features_data/target_y.csv", index=False)

In [46]:
y = df[['ad_id','ba_imps_234567','is_imps_234567','rv_imps_234567']]
y.to_csv(default_dir + "extract_features_data/target_y.csv", index=False)